/**********************************
GENERAL
***********************************/


/**********************************
NAVIGATION 
***********************************/



/**********************************
HEADER
***********************************/

.portrait{
    max-width:auto;
    max-height:250px;
}

.jumbotron{
    text-align:center;
    margin-bottom:10px;
    height:500px;
    padding-top:50px;
}

.portrait_name{
    width:320px;
    margin:0 auto;
    padding:20px;
    border-radius:20px;
}

/**********************************
MAIN CONTENT
***********************************/
.thumbnail_space{
    max-width:90%;
    margin:0 auto;
}

.thumbnail_image{
  max-height:200px;
  max-width:242px;
}

article{
    width:90%;
    margin:0 auto;
    padding:10px;
    border-radius:10px;
    margin-bottom:10px;
}

/**********************************
FOOTER - Layout and Sizing
***********************************/
footer{
    height:100px;
    text-align:center;
    padding:20px;
}

/**********************************
PAGE: _______
***********************************/



/**********************************
FONTS
***********************************/
.portrait_name{
    font-family: 'Audiowide', cursive;
}

/**********************************
COLORS and BACKGROUNDS
Color 1:#6A86B4
Color 1:#F88D1D
Color 1:#173C11
Color 1:#EAE4E4
Color 1:#1C4559
***********************************/

body {
    background:#6A86B4;
}

.navbar {
    background:#173C11;
}

#bs-example-navbar-collapse-1 > ul:nth-child(1) >.active > a , footer{
    background:#FF712C;
}

.jumbotron{
    background:#FFF6C5;
}

.jumbotron h1 {
    color:#F88D1D;
}


article{
    background:#eee;
}

footer{
    background:#eee;
}

.jumbotron{
  background: url(http://wallpapercave.com/wp/zh9ePPZ.jpg) no-repeat center;
  background-size: cover;
}

.portrait_name{
  background-color:#148ACC;
}